# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environments
venv/
env/
*.env
*.venv
*.virtualenv

# Django
db.sqlite3
/media/
staticfiles/
*.log

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore Python bytecode
__pycache__/
*.py[cod]
db.sqlite31
